*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

.vs/
**/obj/
**/bin/
*.user
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
.classpath
*.launch
*.settings
local.settings.json
launchSettings.json

[Dd]ebug/
[Rr]elease/
TestResults/
coverage/
*.coverage
*.trx
x64/
build/
bld/
[Bb]in/
[Oo]bj/

*.rsuser
*.user
*.userosscache
*.sln.docstates

/IPCamLapse/data/

*.log
logs/

.DS_Store
Thumbs.db
